body{
    background-color: rgb(216, 249, 249);
}

audio{
    outline: none;
    width: 100%;

}
video{
    max-width: 300px;

}
.stranica{
    min-width: 600px;
    min-height: 400px;
    border: 2px solid blue;
}