body{
background-color: #eee;
font-family: sans-serif;
}

div{
    background-color: rgb(208, 200, 200);
    max-width: 300px;
    margin: 100px auto;
    border-radius: 10px; 
}

h1{
    color: blue;
    text-align: center;
    padding: 20px;
}

h2{
    font-size: 1rem;
    text-align: center;
    color: #373232    ;
}

p{
    font-family: 'Times New Roman', Times, serif;   
    text-align: center;
    padding-bottom: 40px;
}

